<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mytest.syscore.daou.mytest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CalCulatorActivity" />
        <activity android:name=".activity.CalculatorNumActivity" />
        <activity android:name=".activity.PushListActivity" />
        <activity android:name=".activity.MemberJoinFormActivity" />
        <activity android:name=".activity.MemberListActivity" />
        <activity android:name=".activity.PuzzleActivity"></activity>
    </application>

</manifest>